<section
  class="bg-lightblack dark:bg-black relative z-10 overflow-hidden pt-[120px] pb-[60px] md:pt-[130px] lg:pt-[160px]"
>
  <div
    class="w-full h-px bg-gradient-to-r from-stroke/0 via-red-2 dark:via-blue-2 to-stroke/0 absolute left-0 bottom-0">
  </div>
  <div class="container">
    <div class="-mx-4 flex flex-wrap items-center">
      <div class="w-full px-4">
        <div class="text-center">
          <h1 class="rajdhani-semibold mb-4 text-3xl font-bold text-white sm:text-4xl md:text-[40px] md:leading-[1.2]">
            <slot name="title">Title</slot>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>