---
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import '@fontsource/poppins';
import { Image } from 'astro:assets';
import AboutLayout from "../layouts/about-layout.astro";
---

<AboutLayout>
	<div class="mt-36 mx-12">
		<h1>Who Are We?</h1>
	<div class="lg:w-[85%]  w-[100%] mx-auto mb-8">
		<h2 class="text-[1.5em] lg:text-[2em] mt-8">We are two friends who have been playing games together since we met in high school.  
			For years, we have been learning 
			and practicing everything that goes into making a video game.  
			With Glass Arcade, we are turning our passion into a living - we hope you will join us on our journey.  </h2>
	</div>
	{/*Desktop - doing this as a quick fix now so that on desktop
	we can do the more aesthetic picture flip thing but then on 
	mobile have Bilal's picture be stacked on top of his text*/}
	<div class="hidden lg:flex justify-center mb-8">
		<div class="space-y-4 lg:space-y-0 lg:flex lg:justify-center lg:space-x-8 w-[85%]">
			<div class="w-[60%] lg:w-[40%] m-auto lg:m-0">
				<img class="m-auto rounded-2xl" src="/images/robbie.png" alt="Robert"/>
			</div>
			<div class="bg-[#27282a] border-primaryBlue border-8 lg:mx-auto lg:w-[60%] lg:max-h-fit rounded-2xl">
				<h3 class="pt-4">Meet Rob</h3>
				<p class="p-4">I have loved playing video games since I got my first GameCube at 7 years old.  At that time, I would tell people I wanted to be an artist when I grew up.
					  I have always loved making things and turning my ideas into reality.  For me, designing and developing games has served as the perfect creative outlet; in the same way that I love getting lost in the immersion of a hand crafted
					  world, I now love getting lost in creating them for others.  As a Co-Founder of Glass Arcade, I am excited to continue bringing my ideas to life 
					  through the creation of memorable and exciting gaming experiences. <br>
					  <br>
					  While I could list inspiring games forever, my favorite indie games are Outer Wilds, Hades, Ori, Celeste, Dead Cells, and Baba Is You.
				</p>
			</div>
		</div>
	</div>
	<div class="hidden lg:flex justify-center">
		<div class=" space-y-4 lg:space-y-0 lg:flex lg:justify-center lg:space-x-8 w-[85%]">
			<div class="bg-[#27282a] border-primaryRed border-8 lg:mx-auto lg:w-[60%] max-h-fit rounded-2xl">
				<h3 class="pt-4">Meet Bilal</h3>
				<p class="p-4">Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
				</p>
			</div>
			<div class="w-[60%] lg:w-[40%] m-auto lg:m-0">
				<img class="m-auto rounded-2xl" src="/images/bibo.png" alt="Bilal"/>
			</div>
		</div>
	</div>
	{/*Mobile - doing this as a quick fix now so that on desktop
	we can do the more aesthetic picture flip thing but then on 
	mobile have Bilal's picture be stacked on top of his text*/}
	<div class="lg:hidden">
		<div class="flex justify-center mb-8">
			<div class="space-y-4 lg:space-y-0 lg:flex lg:justify-center lg:space-x-8 w-[100%]">
				<div class="w-[100%] lg:w-[40%] m-auto lg:m-0">
					<img class="m-auto rounded-2xl" src="/images/robbie.png" alt="Robert"/>
				</div>
				<div class="bg-[#27282a] border-primaryBlue border-8 lg:mx-auto lg:w-[60%] lg:max-h-fit rounded-2xl">
					<h3 class="pt-4">Meet Rob</h3>
					<p class="p-4">
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					</p>
				</div>
			</div>
		</div>
		<div class="flex justify-center">
			<div class=" space-y-4 lg:space-y-0 lg:flex lg:justify-center lg:space-x-8 w-[100%]">
				<div class="w-[100%] lg:w-[40%] m-auto lg:m-0">
					<img class="m-auto rounded-2xl" src="/images/bibo.png" alt="Bilal"/>
				</div>
				<div class="bg-[#27282a] border-primaryRed border-8 lg:mx-auto lg:w-[60%] max-h-fit rounded-2xl">
					<h3 class="pt-4">Meet Bilal</h3>
					<p class="p-4">Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	<br>
	<br>
</AboutLayout>


<style>
	h1 {
		font-family: 'poppins';
		color: #ffffff;
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;
		text-align: center;
	}
	h2 {
		font-family: 'poppins';
		color: #ffffff;
		line-height: 1.2;
		text-align: left;
	}
	h3 {
		font-family: 'poppins';
		color: #ffffff;
		font-size: 2.5rem;
		font-weight: 400;
		line-height: 1;
		text-align: center;
	}
	p{
		font-family: 'poppins';
		font-size: 1.5rem;
		text-align: left;
		color: #ffffff;
	}
	bold{
		font-weight: bold;
	}
	html {
		background: #131313;
		height: 100%;
	}
</style>
