---
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import { Image } from 'astro:assets';
import AboutLayout from "../layouts/about-layout.astro";
---

<AboutLayout>
	<div class="mt-36 mx-12">
		<h1>Who Are We?</h1>
	<div class="w-[89%] mx-auto mb-8">
		<h2 class="mx-4 text-[1.5em] lg:text-[2em] lg:mx-32 mt-8">Glass Arcade is two friends who love video games. 
			We have been playing games together since we met in high school.  
			Since 2019 when we started our first project together, we have been learning 
			and practicing everything that goes into making a video game; the design, art, code, and music.  
			Glass Arcade is our journey towards turning our passion into a living - we hope you will join us on our journey.  </h2>
	</div>
	{/*Desktop - doing this as a quick fix now so that on desktop
	we can do the more aesthetic picture flip thing but then on 
	mobile have Bilal's picture be stacked on top of his text*/}
	<div class="hidden lg:flex justify-center mb-8">
		<div class="space-y-4 lg:space-y-0 lg:flex lg:justify-center lg:space-x-8 w-[85%]">
			<div class="w-[60%] lg:w-[40%] m-auto lg:m-0">
				<img class="m-auto rounded-2xl" src="/images/robbie.png" alt="Robert"/>
			</div>
			<div class="bg-[#27282a] border-primaryBlue border-8 lg:mx-auto lg:w-[60%] lg:max-h-fit rounded-2xl">
				<h3 class="pt-4">Meet Rob</h3>
				<p class="p-4"> Hi friends! I have a background in technology consulting where I spend time 
					doing project management, product, and tech strategy for ecommerce sites.  While I enjoyed the 
					work and learned a lot, I have always felt drawn to video game design.  More than anything, I just love
					creating things; I think expressing our creativity in whatever way we feel called is one of the coolest
					things about being human.  As a co-founder of Glass Arcade, I am excited to continue bringing my ideas to life 
					to create memorable games for all.

					  <br><br>
					  <bold>Education: </bold>Integrated Business and Engineering at The Ohio State University.<br>
					  <bold>City: </bold>Chicago<br>
					  <bold>Favorite Indie Games: </bold>Outer Wilds, Hades, Ori, Celeste, Dead Cells, Baba Is You (I could go on forever)
				</p>
			</div>
		</div>
	</div>
	<div class="hidden lg:flex justify-center">
		<div class=" space-y-4 lg:space-y-0 lg:flex lg:justify-center lg:space-x-8 w-[85%]">
			<div class="bg-[#27282a] border-primaryRed border-8 lg:mx-auto lg:w-[60%] max-h-fit rounded-2xl">
				<h3 class="pt-4">Meet Bilal</h3>
				<p class="p-4">Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
				</p>
			</div>
			<div class="w-[60%] lg:w-[40%] m-auto lg:m-0">
				<img class="m-auto rounded-2xl" src="/images/bibo.png" alt="Bilal"/>
			</div>
		</div>
	</div>
	{/*Mobile - doing this as a quick fix now so that on desktop
	we can do the more aesthetic picture flip thing but then on 
	mobile have Bilal's picture be stacked on top of his text*/}
	<div class="lg:hidden">
		<div class="flex justify-center mb-8">
			<div class="space-y-4 lg:space-y-0 lg:flex lg:justify-center lg:space-x-8 w-[85%]">
				<div class="w-[60%] lg:w-[40%] m-auto lg:m-0">
					<img class="m-auto rounded-2xl" src="/images/robbie.png" alt="Robert"/>
				</div>
				<div class="bg-[#27282a] border-primaryBlue border-8 lg:mx-auto lg:w-[60%] lg:max-h-fit rounded-2xl">
					<h3 class="pt-4">Meet Rob</h3>
					<p class="p-4">
						Hi friends! I have a background in technology consulting where I spend time 
					doing project management, product, and tech strategy for ecommerce sites.  While I enjoyed the 
					work and learned a lot, I have always felt drawn to video game design.  More than anything, I just love
					creating things; I think expressing our creativity in whatever way we feel called is one of the coolest
					things about being human.  As a co-founder of Glass Arcade, I am excited to continue bringing my ideas to life 
					to create memorable games for all.

					  <br><br>
					  <bold>Education: </bold>Integrated Business and Engineering at The Ohio State University.<br>
					  <bold>City: </bold>Chicago<br>
					  <bold>Favorite Indie Games: </bold>Outer Wilds, Hades, Ori, Celeste, Dead Cells, Baba Is You (I could go on forever)
					</p>
				</div>
			</div>
		</div>
		<div class="flex justify-center">
			<div class=" space-y-4 lg:space-y-0 lg:flex lg:justify-center lg:space-x-8 w-[85%]">
				<div class="w-[60%] lg:w-[40%] m-auto lg:m-0">
					<img class="m-auto rounded-2xl" src="/images/bibo.png" alt="Bilal"/>
				</div>
				<div class="bg-[#27282a] border-primaryRed border-8 lg:mx-auto lg:w-[60%] max-h-fit rounded-2xl">
					<h3 class="pt-4">Meet Bilal</h3>
					<p class="p-4">Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
						Hello. This is where we tell the website about ourselves. Hello. This is where we tell the website about ourselves.
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</AboutLayout>


<style>
	h1 {
		font-family: sans-serif;
		color: #ffffff;
		font-size: 3rem;
		font-weight: 400;
		line-height: 1;
		text-align: center;
	}
	h2 {
		font-family: sans-serif;
		color: #ffffff;
		line-height: 1;
		text-align: left;
	}
	h3 {
		font-family: sans-serif;
		color: #ffffff;
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 1;
		text-align: center;
	}
	p{
		font-size: 1.5rem;
		text-align: left;
		color: #ffffff;
	}
	bold{
		font-weight: bold;
	}
	html {
		background: #131313;
		height: 100%;
	}
</style>
