---
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import '@fontsource/poppins';
import { Image } from 'astro:assets';
import GamesLayout from "../layouts/games-layout.astro";
---

<GamesLayout>
	<div class="relative pt-[40px]" style="height:100vh">
		<img class="absolute object-cover h-full w-full z-[-1]" src="/images/GameBanner.png" alt="Banner"/>
		<div class="flex justify-center my-24 ">
			<h2 class="text-yellow-500 lg:text-[5rem] text-8xl">NAME OF GAME</h2>
		</div>
		<div class="flex flex-col items-start m-10 bg-backgroundBlack bg-opacity-60 rounded-2xl p-4">
			<h3 class="text-[4em] lg:text-[2em] lg:my-8 mb-4 font-bold">Glass Arcades' first game in development.</h3>
			<br />
			<h3 class="text-[3em] lg:text-[2em] lg:my-8 mb-4">A magical 2D platforming adventure with dynamic gameplay that evolves with the story.  The game will explore gameplay from our favorite
				 subgenres and push them to their limit to create fun and satisfying platforming.
			</h3>
			<br />
			<br />
			<h3 class="text-[3em] lg:text-[2em] lg:my-8">Stay tuned for the launch of our Steam page to add it to your wishlist!</h3>
		</div>
		<div class="bg-gradient-to-t from-backgroundBlack h-96 w-full absolute bottom-[-44px]">

		</div>
	</div>
	
</GamesLayout>


<style>
	h1 {
		font-family: 'poppins';
		color: #ffffff;
		font-size: 5rem;
		font-weight: 400;
		line-height: 1;
		text-align: left;
	}
	h2 {
		font-family: 'poppins';
		line-height: 1;
		text-align: left;
	}
	h3 {
		font-family: 'poppins';
		color: #ffffff;
		line-height: 1;
		text-align: left;
	}
	h4 {
		font-family: 'poppins';
		color: #ffffff;
		font-size: 1.25rem;
		font-weight: 200;
		line-height: 1;
		text-align: center;
	}
	p{
		font-size: 1rem;
		text-align: center;
		color: #fffff;
	}
	html {
		background: #131313;
		height: 100%;
	}
</style>
