---
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import { Image } from 'astro:assets';
import GamesLayout from "../layouts/games-layout.astro";
---

<GamesLayout>
	<div class="w-full flex justify-center z-0 pt-[110px]">
		<div class="w-full relative z-[-2]">
			<img src="./images/animated banner.gif" alt="Banner"/>
			<div class="absolute inset-0 flex flex-col justify-left items-left z-[1] mt-10">
				<div class="flex m-10">
					<h2>WizGuy</h2>
				</div>
				<hr class="w-64 h-0.5 bg-white border-0 rounded" style="margin-top: -1.5rem; margin-left: 2.5rem;">
				<div class="flex flex-col items-start m-10">
					<h3 class="text-[1em] lg:text-[2em] my-8">Title of Game is Glass Arcades' first game in development.</h3>
					<br />
					<h3 class="text-[1em] lg:text-[2em] my-8">A whimsical 2D platforming adventure with dynamic gameplay that evolves with the story</h3>
					<br />
					<br />
					<h3 class="text-[1em] lg:text-[2em] my-8">Stay tuned for the launch of our Steam page to add it to your wishlist!</h3>
				</div>
			</div>  
		</div>
	</div>

</GamesLayout>


<style>
	h1 {
		font-family: sans-serif;
		color: #ffffff;
		font-size: 5rem;
		font-weight: 400;
		line-height: 1;
		text-align: left;
	}
	h2 {
		font-family: sans-serif;
		color: #ffffff;
		font-size: 3.5rem;
		line-height: 1;
		text-align: left;
	}
	h3 {
		font-family: sans-serif;
		color: #ffffff;
		font-size: 2rem;
		font-weight: 200;
		line-height: 1;
		text-align: center;
	}
	h4 {
		font-family: sans-serif;
		color: #ffffff;
		font-size: 1.25rem;
		font-weight: 200;
		line-height: 1;
		text-align: center;
	}
	p{
		font-size: 1rem;
		text-align: center;
		color: #fffff;
	}
	html {
		background: #131313;
		height: 100%;
	}
</style>
