---
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import '@fontsource/poppins';
import { Image } from 'astro:assets';
import GamesLayout from "../layouts/games-layout.astro";
---

<GamesLayout>
	<div class="relative pt-[1px] h-screen">
		<img class="absolute object-cover h-full w-full z-[-1]" src="/images/GameBanner.gif" alt="Banner"/>
		<div class="flex justify-center my-48 lg:mx-auto lg:w-[80%]">
			<img src="/images/Dreamania.png" alt="Banner"/>
		</div>
		<div class="bg-gradient-to-t from-backgroundBlack h-96 w-full absolute bottom-[-44px]">

		</div>
	</div>
	<br>
</GamesLayout>


<style>
	h1 {
		font-family: 'poppins';
		color: #ffffff;
		font-size: 5rem;
		font-weight: 400;
		line-height: 1;
		text-align: left;
	}
	h2 {
		font-family: 'poppins';
		line-height: 1;
		text-align: left;
	}
	h3 {
		font-family: 'poppins';
		color: #ffffff;
		line-height: 1;
		text-align: left;
	}
	h4 {
		font-family: 'poppins';
		color: #ffffff;
		font-size: 1.25rem;
		font-weight: 200;
		line-height: 1;
		text-align: center;
	}
	p{
		font-size: 1rem;
		text-align: center;
		color: #fffff;
	}
	html {
		background: #131313;
		height: 100%;
	}
</style>
