---
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import '@fontsource/poppins';
import { Image } from 'astro:assets';
import GamesLayout from "../layouts/games-layout.astro";
---

<GamesLayout>
	<div class="w-full flex justify-center z-0 pt-[50px]">
		<div class="w-full relative z-[-2]">
			<img src="/images/GameBanner.png" alt="Banner"/>
			<div class="absolute inset-0 flex flex-col justify-left items-left z-[1] mt-10">
				<div class="flex justify-center m-10">
					<h2>NAME OF GAME</h2>
				</div>
				<div class="flex flex-col items-start m-10 bg-black bg-opacity-40 rounded-2xl p-4">
					<h3 class="text-[1em] lg:text-[2em] lg:my-8">Title of Game is Glass Arcades' first game in development.</h3>
					<br />
					<h3 class="text-[1em] lg:text-[2em] lg:my-8">A magical 2D platforming adventure with dynamic gameplay that evolves with the story.  The game will explore gameplay from our favorite
						 subgenres and push them to their limit to create fun and satisfying platforming.
					</h3>
					<br />
					<br />
					<h3 class="text-[1em] lg:text-[2em] lg:my-8">Stay tuned for the launch of our Steam page to add it to your wishlist!</h3>
				</div>
			</div>  
		</div>
		
	</div>
	

</GamesLayout>


<style>
	h1 {
		font-family: 'poppins';
		color: #ffffff;
		font-size: 5rem;
		font-weight: 400;
		line-height: 1;
		text-align: left;
	}
	h2 {
		font-family: 'poppins';
		color: #ffffff;
		font-size: 3.5rem;
		line-height: 1;
		text-align: left;
	}
	h3 {
		font-family: 'poppins';
		color: #ffffff;
		font-weight: 200;
		line-height: 1;
		text-align: left;
	}
	h4 {
		font-family: 'poppins';
		color: #ffffff;
		font-size: 1.25rem;
		font-weight: 200;
		line-height: 1;
		text-align: center;
	}
	p{
		font-size: 1rem;
		text-align: center;
		color: #fffff;
	}
	html {
		background: #131313;
		height: 100%;
	}
</style>
