---
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import { Image } from 'astro:assets';
import GamesLayout from "../layouts/games-layout.astro";
---

<GamesLayout>
	<div class="w-full flex justify-center z-0 pt-[110px]">
		<div class="w-full relative z-[-2]">
			<img src="./images/animated banner.gif" alt="Banner"/>
			<div class="absolute inset-0 flex justify-center items-center z-[1]">
				<img class="mx-auto w-[40%] align-middle lg:mx-0 lg:w-[48%]" src="./images/placeholder title.png" alt="WizGuy"/>
			</div>  
		</div>
	</div>
	<div class="w-full justify-center bg-black">
		<h2 class ="mx-16 text-[1.5em] lg:text-[2em] lg:mx-60 mt-16">Title of Game is Glass Arcades first game in development.</h2>
		<h2 class ="mx-16 text-[1.5em] lg:text-[2em] lg:mx-60 mt-16">A magical 2D platforming adventure with dynamic gameplay that evolves with the story.  It is a blend of all of our favorite styles of gameplay with inspirations from metroidvanias, and traditional sidescrollers. </h2>
	</div>
	<!-- <div class="lg:flex lg:justify-center lg:space-x-16 w-full">
		<div class="bg-white rounded-2xl lg:w-1/4 w-3/4 mx-auto lg:mx-0 h-80 mb-16 mt-16">
			<br />
			<h3>Platforming</h3>
		</div>
		<div class="bg-white rounded-2xl lg:w-1/4 w-3/4 mx-auto lg:mx-0 h-80 mb-16 mt-16">
			<br />
			<h3>Puzzles</h3>
		</div>
		<div class="bg-white rounded-2xl lg:w-1/4 w-3/4 mx-auto lg:mx-0 h-80 mb-16 mt-16">
			<br />
			<h3>Story</h3>
		</div>
	</div> -->
	<div class="w-full justify-center bg-black">
		<h2 class ="mx-16 text-[1.5em] lg:text-[2em] lg:mx-60 mt-16">Stay tuned for the launch of our Steam page to add Title of Game to your wishlist!</h2>
	</div>
	<br />
	<br />

</GamesLayout>


<style>
	h1 {
		font-family: sans-serif;
		color: #ffffff;
		font-size: 3rem;
		font-weight: 400;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
	}
	h2 {
		font-family: sans-serif;
		color: #ffffff;
		line-height: 1;
		text-align: left;
		margin-bottom: 0.5em;
	}
	h3 {
		font-family: sans-serif;
		color: #ffffff;
		font-size: 1.5rem;
		font-weight: 200;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
	}
	p{
		font-size: 1rem;
		text-align: center;
		color: #fffff;
	}
	html {
		background: #000000;
		height: 100%;
	}
</style>
