---
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import { Image } from 'astro:assets';
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout>
	<br />
	<br />
	<br />
	<br />
    <br />
	<br />
	<br />
	<br />
	<br />
	<h1>GLASS ARCADE</h1>
	<h2 class="px-4 lg:mx-32">We make video games that are fun, digestible, and emotionally resonant. We are working on our first game,</h2>
	<div class="align-middle lg:flex lg:justify-center lg:items-center">
		<img class="w-full align-middle lg:w-[50%]" src="./images/placeholder title.png" alt="WizGuy"/>
		<div class="m-auto h-48 w-48 lg:m-0 lg:h-64 lg:w-64">
			<img class="align-center" src="./images/wizguy idle.gif" alt="WizGuy"/>
		</div>
	</div>
	<div class="lg:flex lg:justify-center lg:space-x-16 w-full">
		<div class="bg-primaryNavy mt-8 mx-8 lg:w-2/6 h-80 rounded-2xl lg:mb-36 lg:mt-16">
			<br />
			<h3>Our Vision</h3>
			<p class="text-white">To foster a greater appreciation for the art of video games as a unique medium for storytelling through inspiring experiences that emotionally resonate with all players.</p>
		</div>
		<div class="bg-primaryNavy mt-8 mx-8 lg:w-2/6 h-80 rounded-2xl lg:mb-36 lg:mt-16">
			<br />
			<h3>Our Target</h3>
			<p class="text-white">Everyone from daily gamers to never touched a controller. Our Theory is that anyone can love games and we strive to make games that will show beginners why we love games while being deep enough for experienced players.</p>
		</div>
	</div>
	
</MainLayout>


<style>
	h1 {
		font-family: sans-serif;
		color: #000000;
		font-size: 3rem;
		font-weight: 400;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
	}
	h2 {
		font-family: sans-serif;
		color: #fffff;
		font-size: 2rem;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
	}
	h3 {
		font-family: sans-serif;
		color: #ffffff;
		font-size: 1.5rem;
		font-weight: 200;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
	}
	p{
		font-size: 1rem;
		text-align: center;
		color: #fffff;
	}
	html {
		background: #ffffff;
		height: 100%;
	}

	construction {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		max-width: 100%;
		max-height: 100vh;
		height: auto;
	}
	logo {
		display: grid;
		place-items: center;
		height: 50vh;
	}
</style>
