---
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import { Image } from 'astro:assets';
import MainLayout from "../layouts/main-layout.astro";
import construction from "../images/construction.png"
---

<MainLayout>
	<h1>Glass Arcade</span></h1>
	<Image src={construction} alt="Construction"/>
</MainLayout>


<style>
	h1 {
		font-family: 'Montserrat Variable', sans-serif;
		font-size: 4rem;
		font-weight: 200;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	html {
		background: #f2faff;
		background-size: 224px;
	}
	img {
		display: block;
		margin: auto;
	}
</style>
