<!-- ====== About Section Start -->
<section
  id="about"
  class="bg-red-2 dark:bg-blue-2 pt-20 pb-8 lg:pt-[40px] lg:pb-[30px]"
>
  <div class="container">
    <div class="wow fadeInUp" data-wow-delay=".2s">
      <div class="-mx-4 flex flex-wrap items-center">
        <div class="w-full px-4">
          <div class="mb-12 lg:mb-0">
            <div class="mb-8 px-10">
              <p class="rajdhani-regular mb-3 mt-6 w-full text-2xl leading-relaxed text-white max-w-600">
                • Hand-crafted pixel art world
              </p>
              <p class="rajdhani-regular mb-3 mt-3 w-full text-2xl leading-relaxed text-white max-w-600">
                • Smooth, "flow-state", precision platforming focused on comboing abilities
              </p>
              <p class="rajdhani-regular mb-3 mt-3 w-full text-2xl leading-relaxed text-white max-w-600">
                • Embark on a journey of self-reflection as you venture deeper into the Dreamscape to rescue a lost friend
              </p>
              <p class="rajdhani-regular mb-3 mt-3 w-full text-2xl leading-relaxed text-white max-w-600">
                • Obtain and combine powerful abilities that transform how you explore
              </p>
              <p class="rajdhani-regular mb-3 mt-3 w-full text-2xl leading-relaxed text-white max-w-600">
                • Solve puzzles, uncover secrets, and venture through hidden paths as you move through the world
              </p>
              <p class="rajdhani-regular mb-6 mt-3 w-full text-2xl leading-relaxed text-white max-w-600">
                • Put your platforming abilities to the test in a flurry of post-game challenge levels in Arcade Mode
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== About Section End -->
