<!-- ====== Hero Section Start -->
<!-- <section
  id="home"
  class="relative overflow-hidden bg-lightblack dark:bg-black pt-[120px] md:pt-[130px] lg:pt-[160px]"
>
  <div class="container">
    <div class="-mx-4 flex flex-wrap items-center">
      <div class="w-full px-4">
        <div
          class="hero-content wow fadeInUp mx-auto max-w-[780px] text-center"
          data-wow-delay=".2s"
        >
          <h1
          class="rajdhani-semibold mb-6 text-6xl font-bold leading-snug text-white dark:text-white sm:text-6xl sm:leading-snug lg:text-6xl lg:leading-[1.2]"
        >
          GLASS ARCADE
          </h1>
          <div class="wow fadeInUp text-center flex items-center justify-center gap-4 mb-4" data-wow-delay=".3s">
            <a href="https://discord.gg/FqKa4eqEun" class="text-primaryblue hover:text-primaryred duration-300 ease-in-out" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16">
                <path d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"/>
              </svg>
            </a>
            
            <a href="https://www.instagram.com/glass_arcade_/" class="text-primaryblue hover:text-primaryred duration-300 ease-in-out" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
            </a>

            <a href="https://x.com/glassarcadedev" class="text-primaryblue hover:text-primaryred duration-300 ease-in-out" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/></svg>
            </a>

            <a href="https://www.twitch.tv/glassarcade" class="text-primaryblue hover:text-primaryred duration-300 ease-in-out" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitch"><path d="M21 2H3v16h5v4l4-4h5l4-4V2zm-10 9V7m5 4V7"/></svg>
            </a>

            <a href="https://www.linkedin.com/company/glass-arcade/" class="text-primaryblue hover:text-primaryred duration-300 ease-in-out" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
            </a>
          </div>
          <img
            src="/assets/logo/GA-Logo.svg"
            alt="hero"
            class="mx-auto max-w-[400px]"
          />
          <p
            class="rajdhani-regular text-2xl mx-auto max-w-[700px] font-large text-white dark:text-white sm:leading-[1.44]">
            Indie game studio with a mission of creating exciting & innovative gameplay experiences that are emotionally resonant with our players 
            </br>
            </br>
            We're currently working on our first game
          </p>
          <div class="mt-4 mb-8">
            <img
              src="/assets/game/DreamRunnerLogo.png"
              alt="hero"
              class="mx-auto max-w-[600px] w-full rounded-t-xl rounded-tr-xl"
            />
          </div>
          <div class="mt-4 mb-8">
            <img
              src="/assets/game/DreamRunnerHero.jpg"
              alt="hero"
              class="mx-auto rounded-t-xl rounded-tr-xl"
            />
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section> -->
<section
  id="about"
  class="bg-red-2 dark:bg-blue-2 pt-20 pb-8 lg:pt-[120px] lg:pb-[70px] relative"
  style="background-image: url('/assets/game/DreamRunnerHero.jpg'); background-size: cover; background-position: center; height: calc(100vw * (1 / 2));"
>

  <div 
    class="wow fadeInUp text-center flex items-center justify-center gap-8 mb-4" 
    data-wow-delay=".3s"
    style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 10; border-radius: 12px; padding: 10px 20px;"
  >
  <a
  href="https://store.steampowered.com/app/3035870/Dream_Runner/"
  target="_blank"
  class="rajdhani-regular mb-0 flex items-center gap-4 py-[14px] rounded-md bg-lightblack/[0.6] px-6 text-2xl font-medium text-white transition duration-300 ease-in-out hover:bg-lightblack/[0.9] hover:text-dark"
>

<p class="rajdhani-medium w-full text-4xl mt-0 ml-0 leading-relaxed text-white">
  WISHLIST DREAM RUNNER ON STEAM
</p>
</a>
  </div>
</section>


<!-- ====== Hero Section End -->
