<li class="mx-4 lg:my-0">
    <a href="/games" class="font-montserrat text-white text-xl hover:text-primaryRed duration-300">Games</a>
</li>
<li class="mx-4 lg:my-0">
    <a href="/about" class="font-montserrat text-white text-xl hover:text-primaryRed duration-300">About Us</a>
</li>
{/* <li class="mx-4 lg:my-0">
    <a href="/blog" class="font-montserrat text-white text-xl hover:text-primaryRed duration-300">Blog</a>
</li> */}
<li class="ml-4 lg:my-0">
    <a href="/follow" class="font-montserrat text-white text-xl hover:text-primaryRed duration-300">Follow the Journey</a>
</li>