<li class="mx-4 lg:my-0">
    <a href="/games" class="font-poppins text-white text-xl hover:text-primaryRed duration-300">
        <div class="flex flex-col items-center group cursor-pointer">
              Games
        </div>
    </a>
</li>
<li class="mx-4 lg:my-0">
    <a href="/about" class="font-poppins text-white text-xl hover:text-primaryRed duration-300">
        <div class="flex flex-col items-center group cursor-pointer">
            Team
        </div>
    </a>
</li>