---
import '@fontsource-variable/montserrat';
import Nav from '../components/Nav';
---

<html lang="en">
    <head>
    </head>
    <body>
        <main>
            <header>
                <Nav></Nav>
            </header>
            <slot />
            <!-- All the different pages to be rendered -->
        </main>
    </body>
</html>

<style>
    a {
		font-family: 'Montserrat Variable', sans-serif;
		font-size: 4rem;
		font-weight: 200;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
    header {
        background: #353b3f;
        position: fixed;
        left: 0;   
        top: 0;      
        width: 100%;  
    }
    
</style>