---
import '@fontsource-variable/montserrat';
import Footer from '../components/Footer';
import Nav from '../components/Nav';
import FooterLink from '../components/FooterLink';
---

<html lang="en">
    <head>
    </head>
    <body>
        <main>
            <header>
                <Nav></Nav>
            </header>
            <slot />
            <!-- All the different pages to be rendered --> 
        </main>
    </body>
</html>

<style>
    header {
        background: #000000;
        position: fixed;
        left: 0;   
        top: 0;      
        width: 100%;  
    }
</style>