---
import '@fontsource-variable/montserrat';
import Nav from '../components/Nav.astro';
---
<html lang="en">
    <head>
    </head>
    <body>
        <header>
            <Nav></Nav>
        </header>
        <slot />
    </body>
</html>

<style>
    header {
        background: #000000;
        position: fixed;
        left: 0;   
        top: 0;      
        width: 100%;  
    }
</style>