---
import Nav from '../components/Nav';
---

<html lang="en">
    <head>
    </head>
    <body>
        <main>
            <Nav></Nav>
            <slot />
            <!-- All the different pages to be rendered -->
        </main>
    </body>
</html>